
.contact
{
	padding-top: 129px;
	padding-bottom: 130px;
}

/*********************************
5.1 Google Map
*********************************/

#google_map
{
	width: 100%;
	height: 580px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}
.marker
{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 124px;
	height: 124px;
	background: rgba(69, 43, 120, 0.4);
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0px 0px 0px #000;
}
.marker_inner
{
	display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	background: rgba(69, 43, 120, 1);
	z-index: 2;
}
.marker_center
{
	display: block;
	position: relative;
	left: auto !important; /*because firefox...*/
	top: auto !important;  /*because firefox...*/
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FFFFFF;
	z-index: 3;
}

/*********************************
5.2 Reply
*********************************/

.contact_row
{
	margin-top: 119px;
        padding-bottom: 70px;
}
.reply
{
	
}
.reply_title
{
	font-size: 18px;
	color: #2e2e2e;
}
.reply_form_container
{
	margin-top: 54px;
}
.input_field
{
	height: 60px;
            text-align: center;
            /*color: #bebebe;*/
        opacity: 1;
        border: solid 1px #bebebe;
	/*border-bottom: solid 1px #e1e1e1;*/
	color: #452b78;
}

.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
	font-style: normal !important;
	font-size: 12px !important;
	color: #909090 !important;
	font-weight: 400 !important;
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
	font-style: normal !important;
	font-size: 12px !important;
	color: #909090 !important;
	font-weight: 400 !important;
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
	font-style: normal !important;
	font-size: 12px !important;
	color: #909090 !important;
	font-weight: 400 !important;
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
	font-style: normal !important;
	font-size: 12px !important;
	color: #909090 !important;
	font-weight: 400 !important;
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
	font-style: normal !important;
	font-size: 12px !important;
	color: #909090 !important;
	font-weight: 400 !important;
}


.input_field:focus::-webkit-input-placeholder,
.text_field:focus::-webkit-input-placeholder
{
	color: #452b78 !important;
}
.input_field:focus:-moz-placeholder,
.text_field:focus:-moz-placeholder
{
	color: #452b78 !important;
}
.input_field:focus::-moz-placeholder,
.text_field:focus::-moz-placeholder
{
	color: #452b78 !important;
} 
.input_field:focus:-ms-input-placeholder,
.text_field:focus:-ms-input-placeholder
{ 
	color: #452b78 !important;
}
.input_field:focus::input-placeholder,
.text_field:focus::input-placeholder
{
	color: #452b78 !important;
}
.text_field
{
        text-align: center;
        font-size: 14px;
	border: solid 1px #bebebe;
	margin-bottom: 12px;
	color: #452b78;
}
.reply_form_name,
.reply_form_email
{
	display: inline-block;
        width: calc(49% - 24px);
        margin-left: 0px;
        
        
}
.reply_form_name_login
{
	display: inline-block;
	width: calc(100% - 15px);
}

.reply_form_name
{
	margin-right: 30px;
}
.reply_form_email
{
	margin-left: 30px;
}
.reply_form_subject
{
	display: block;
	width: 97%;
	margin-top: 13px;
}
.reply_form_message
{
	display: block;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 27px;
}
.input_field:focus,
.text_field:focus
{
	border-bottom: solid 1px #452b78 !important;
	box-shadow: none !important;
	outline: none !important;
}
.reply_submit_btn
{
	margin-top: 55px;
	display: inline-block;
	height: 54px;
	width: 174px;
	text-align: center;
	border: solid 2px #452b78;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	color: #452b78;
	cursor: pointer;
}

.login
{
	margin-top: 55px;
	display: inline-block;
	height: 54px;
        color: #fff !important;
        width: 100%;
	text-align: center;
	border: solid 2px #fff;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	color: #452b78;
	cursor: pointer;
}
.reply_submit_btn:hover
{
	background: #452b78;
	color: #FFFFFF;
}

/*********************************
5.3 Contact Info
*********************************/

.contact_title
{
	font-size: 18px;
	color: #2e2e2e;
}
.contact_logo
{
	padding-left: 0px;
	margin-top: 38px;
}
.contact_logo a
{
	color: #452b78;
	line-height: 1;
}
.contact_info_container p
{
	margin-top: 39px;
}
.address_container
{
	margin-top: 51px;
}
.contact_info_icon
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33px;
	height: 33px;
	color: #FFFFFF;
	font-size: 18px;
	background: #452b78;
	border-radius: 50%;
	float: left;
}
.contact_info_content
{
	width: calc(100% - 33px);
	padding-left: 33px;
	float: right;
	font-size: 15px;
	font-weight: 400;
	color: #909090;
}
.city
{
	margin-top: -1px;
}
.phone
{
	margin-top: 12px;
}
.email
{
	margin-top: 12px;
}

/*********************************
6. Footer
*********************************/

.footer
{
	padding-top: 99px;
	padding-bottom: 82px;
	border-top: solid 1px #dcdcdc;
}
.footer p
{
	color: #fff !important;
        font-size: 12px;
}
.footer_logo
{
	padding-left: 0px;
	margin-bottom: 39px;
}
.footer_logo a
{
	color: #fff;
	line-height: 1;
}
.footer_intro p
{
	margin-bottom: 0px;
}
.footer_social
{
	margin-top: 27px;
}
.footer_social ul
{
	display: inline-block;
	margin-left: -5px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 22px;
}
.footer_social ul li a
{
	padding: 5px;
}
.footer_social ul li a i
{
	font-size: 12px;
	color: #bab6c3;
}
.footer_social ul li a:hover i
{
	color: #1b0d37;
}
.footer_col
{
	margin-bottom: 27px;
}
.footer_col:last-child
{
	margin-bottom: 0px;
}
.footer_col_title
{
	font-size: 15px;
	font-weight: 500;
	color: #fff;
        text-transform: uppercase;
        font-weight: bolder;
	margin-bottom: 9px;
}
.circle
{
	list-style-type:circle !important;
        color: #fff !important;
}
.footer_col ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
         
}
.footer_col ul li a:hover
{
	color: #28262d;
}

/*CONTACT INVEST*/
.panelporqueComprar {
    margin-bottom: 5px;
    border: none;
    background: none;
    box-shadow: none;
}
.porqueComprar {
    border: none;
    color: #999999;
    background-color: #e5e5e5;
    color: #999999;
    border: none;
    height: auto;
    overflow: auto;
    padding: 4px 15px 5px;
}
.porqueComprar {
    border: none;
    color: #999999;
    background-color: #e5e5e5;
    color: #999999;
    border: none;
    height: auto;
    overflow: auto;
    padding: 4px 15px 5px;
}

    .porqueComprar .textoGrisInputs {
        color: #575757;
        font-size: 14px;
        position: relative;
        top: -6px;
    }

    .porqueComprar .icon-PagoSeguro:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
        padding-right: 5px;
    }

    #safe {
        margin-right: 20px;
    }
    #support {
        margin-right: 10px;
    }
    #record {
        margin-right: 5px;
    }
    #price {
        margin-right: 16px;
    }
    
    .porqueComprar .icon-tiempoRecord:before {
        color: #575757;
        font-size: 2em;
        margin-right: 10px;
        line-height: 1.2em;
        position: relative;
    }

    .porqueComprar .icon-Soporte:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
    }

    .porqueComprar .icon-Garantizados:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
    }

    .porqueComprar .icon-Competitivos:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
    }


    .porqueComprar .icon-FacilCompra:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
    }

    .porqueComprar .icon-SinRegistro:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
    }

    .porqueComprar .icon-RecargaTarjeta:before {
        color: #575757;
        font-size: 2.2em;
        margin-right: 5px;
        line-height: 1.2em;
        position: relative;
    }

.panelporqueComprar {
    margin-bottom: 5px;
    border: none;
    background: none;
    box-shadow: none;
}
.blockacepta {
    color: #999999;
}
.blockacepta label {
    font-size: 1em;
    padding-left: 15px;
}

/*END CONTACT INVEST*/


.field-validation-error {
    border: none;
    font-size: 12px;
    background-color: rgba(236, 187, 185, 0.52);
    color: #ff0000;
    padding: 5px 15px;
    margin: 5px 0;
    display: block;
}
.error-message {
    color: #db0303;
    font-size: 11px;
}
.submit_btn_comprar {
    height: 54px;
    width: 100%;
    color: #452b78 !important;
    text-align: center;
    border: solid 2px #452b78;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
.submit_btn_comprar:hover {
    height: 54px;
    color: #fff !important;
    width: 100%;
    text-align: center;
    border: solid 2px #452b78;
    background: #452b78;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
.submit_btn_comprar_back {
    height: 54px;
    color: #fff !important;
    width: 100%;
    text-align: center;
    border: solid 2px #aaa;
    background: #aaa !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
.submit_btn_comprar_back:hover {
    height: 54px;
    color: #fff !important;
    width: 100%;
    text-align: center;
    border: solid 2px #575757;
    background: #575757 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
.submit_btn_comprar_2 {
    height: 54px;
    color: #fff !important;
    width: 100%;
    text-align: center;
    border: solid 2px #F7921A;
    background: #F7921A !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
.submit_btn_comprar_2:hover {
    height: 54px;
    color: #fff !important;
    width: 100%;
    text-align: center;
    border: solid 2px #99760a;
    background: #99760a !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #452b78;
    cursor: pointer !important;
}
/*faq*/
.fa-question-circle {
    content: "\f059";
    color: #F7921A !important;
    font-size: 2em !important;
    padding: 0 6px !important;
    cursor: pointer !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*pay*/
.FormasPago {
    height: auto;
    overflow: hidden;
}
.FormasPago .selecFormasPago, .FormasPago .selecformaspago-dropdown-header {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 44px;
    padding: 6px 10px;
    color: #666666;
    margin: 0px 0px 15px;
    cursor: pointer;
}
.FormasPago .selecFormasPago, .FormasPago .selecformaspago-dropdown-header {
    color: #666666;
    cursor: pointer;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*bank details*/
.panel-primary {
    border: 1px solid #cccccc !important;
    color: #999999;
}
.panel-primary > .panel-heading {
    background-color: #e5e5e5;
    color: #999999;
    border: none;
    height: auto;
    overflow: auto;
    border: none !important;
    padding: 6px 15px 8px;
}
.panel-title {
    color: #999999;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
}
.panel-body {
    padding: 0px;
}
.content {
    color: #999999;
    padding: 7px 15px;
    height: auto;
    overflow: hidden;
}
.monedero {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.alert-warning {
    font-size: 14px !important;
}
.transferencia{
    color: #666666;
    font-size: 1.5em !important;
    margin-right: 5px;
    margin-top: 5px;
}
.panel {
    margin-bottom: 20px;
    border: none;
    background: none;
    box-shadow: none;
}
.contentSeparator {
    color: #575757;
    padding: 10px 15px;
    font-weight: normal;
    border-top: 1px solid #ccc;
    height: auto;
    overflow: hidden;
}
.contentSeparatorPrimer {
    color: #575757;
    font-weight: normal;
    height: auto;
    overflow: hidden;
}

.contentSeparatorResumen {
    color: #575757;
    padding: 10px 15px;
    font-weight: normal;
    border-top: 1px solid #cccccc;
    background-color: #e5e5e5;
    height: auto;
    overflow: hidden;
}

.contentSeparatorResumen h3 {
    color: #575757;
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin: 5px 0;
}
.panel-bitcoinDinero-col {
    padding-top: 20px;
}
.textoresumenRecarja {
    float: left !important;
    line-height: 40px !important;
}
.content2 {
    position: relative;
    top: 0px;
}
.content2 img {
    width: 100%;
    height: auto;
    max-width: 61px;
    float: right;
    margin-right: 16px;
}
.floatright {
    float: right !important;
}
.blockacepta2 {
    color: #999999;
    padding: 10px 25px 10px;
    margin: 15px 0 15px;
    border: 1px solid #e5e5e5;
}
label {
    margin-bottom: 0 !important;
}
.blockacepta2 label {
    font-size: 13px;
    padding-left: 15px;
}
#crypto-amount{
    font-size: 20px;
}
#importe_total{
    font-size: 16px;
    vertical-align: central !important;
    margin-top: 5px;
}
#total{
    font-size: 18px;
    font-weight: bolder;
    color: #F7921A !important;
}
#pedido{
    padding: 18px;
    font-size: 14px;
}
.h4, h4 {
    font-size: 1.5rem !important;
}
/*confirm email*/
.enhorabuenaTarjeta {
    text-align: center;
    position: relative;
    height: 180px;
    width: 300px;
}
.enhorabuenaTarjeta .enoratransferencia{
    color: #575757;
    margin-left: 40%;
}
.center {
    text-align: center;
}
.textogrisOscuro {
    color: #575757;
    font-weight: normal;
}
.panel-primary > .panel-heading.invertido {
    background-color: #ffffff;
    color: #999999;
    border: none;
    padding: 10px 15px 6px;
}
.panel-primary.invertido2 {
    border: 1px solid #999999 !important;
    color: #999999;
    background-color: #ffffff;
    text-align: left;
}
.paddingtopbottom10px {
    padding: 10px 0;
}
.margintop20 {
    margin-top: 20px !important;
}
.margin-top-70{
    margin-top: 70px;
}
.margin-top-140{
    margin-top: 140px;
}
.panel-primary > .panel-heading {
    background-color: #e5e5e5;
    color: #999999;
    border: none;
    height: auto;
    overflow: auto;
    border: none !important;
    padding: 6px 15px 8px;
}   
.textogrisOscuro {
    color: #575757;
    font-size: 14px;
    font-weight: normal;
}
#title{
    font-size: 21px;
    font-weight: bold;
    padding: 15px;
}
.textoNaranja {
    color: #F7921A;
    text-align: center;
}
.contentTransfer {
    color: #999999;
    padding: 7px 15px;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    text-align: left;
}
.paddingtopbottom10px {
    padding: 10px 0;
}